{% extends parent_bundle_name ~ '::modal_layout.html.twig' %}

{% block modal_header_label %}{{ 'collectionList.modal_title' |trans({}, ipe_message_catalog, app.session.get('ipe_locale'))}}{% endblock modal_header_label %}

{% block modal_footer %}{% endblock modal_footer %}

{% block modal_body %}
{{ include(bundle_name ~ ':IPE:_flashCollection.html.twig') }}

<div class="well">
    <ul class="inline">
        <li><a class="btn btn-mini" data-ipe-action="add" data-ipe-insert-position="0" href="javascript:void(0)" title="{{ 'collectionList.icon_plus_title'  |trans({}, 'mmf_ipe')}}"><i class="icon-plus"></i>&nbsp;{{ 'collectionList.icon_plus_title'  |trans({}, ipe_message_catalog, app.session.get('ipe_locale'))}}</a></li>
    </ul>
    <ul id="ipe-sortable" class="unstyled" >
    {% for key,result in list %}
      <li class="alert" id="ipe_sortable_uid_{{ result.id }}">
        <a class="btn btn-mini"            href="javascript:void(0)" data-ipe-action="move" title="{{ 'collectionList.icon_move_title'  |trans({}, ipe_message_catalog, app.session.get('ipe_locale')) }}"><i class="icon-move"></i></a>
        <a class="btn btn-mini btn-danger" href="javascript:void(0)" data-ipe-action="remove" data-ipe-uid="{{ result.id }}" title="{{ 'collectionList.icon_trash_title' |trans({}, ipe_message_catalog, app.session.get('ipe_locale'))}}"><i class="icon-trash"></i></a>
        <a class="btn btn-mini"            href="javascript:void(0)" data-ipe-action="add" data-ipe-insert-position="{{ attribute(result, inflected_position_field) + 1 }}" title="{{ 'collectionList.icon_plus_title'  |trans({}, ipe_message_catalog, app.session.get('ipe_locale'))}}"><i class="icon-plus"></i></a>
        <a class="btn btn-mini"            href="javascript:void(0)" data-ipe-action="edit" data-ipe-uid="{{ result.id }}" title="{{ 'collectionList.icon_edit_title'  |trans({}, ipe_message_catalog, app.session.get('ipe_locale'))}}"><i class="icon-edit"></i></a>
        {{ has_to_string_method ? attribute(result, params['to_string_method']) : result.id }}
      </li>
    {% endfor %}
    </ul>
</div>

<script>

var ipe_hash = '{{ data_ipe_hash }}';

$(function() {
    $( "[data-ipe-action]" ).click(function() {
        switch($(this).attr('data-ipe-action'))
        {
            case 'move':
                //look bellow for $( "#ipe-sortable").sortable({
                break;

            case 'remove':
                if (confirm('{{ 'shared.delete_confirmation'  |trans({}, ipe_message_catalog, app.session.get('ipe_locale'))}}')) {
                    mmf_load_in_dialog (ipe_target_id, Routing.generate('_ipe_action', {'action': 'collection-remove-item', 'ipe_hash': ipe_hash, 'id': $(this).attr('data-ipe-uid')}));
                }
                break;
            case 'add':
                //mmf_load_in_dialog (ipe_target_id, Routing.generate('_ipe_action', {'action': 'collection-edit-item', 'ipe_hash': ipe_hash, 'position': $(this).attr('data-ipe-insert-position')}));
                mmf_load_in_dialog (ipe_target_id, Routing.generate('_ipe_action', {'action': 'collection-add-item', 'ipe_hash': ipe_hash, 'position': $(this).attr('data-ipe-insert-position')}));
                break;
            case 'edit':
                mmf_load_in_dialog (ipe_target_id, Routing.generate('_ipe_action', {'action': 'collection-edit-item', 'ipe_hash': ipe_hash, 'action_on_success': 'none', 'id': $(this).attr('data-ipe-uid')}));
                break;
            default:
        }
        //alert( + $(this).attr('data-ipe-uid'));
    });

    $( "#ipe-sortable").sortable({
        placeholder: "alert alert-info",
        forcePlaceholderSize: true,
        handle: '[data-ipe-action="move"]',
        update : function (event, ui) {
            var end_pos = $(ui.item).index();
            var uid = $(ui.item).attr('id').replace('ipe_sortable_uid_', '');
            //alert(uid + ' - ' + end_pos);
            mmf_load_in_dialog (ipe_target_id, Routing.generate('_ipe_action', {'action': 'collection-move-item', 'ipe_hash': ipe_hash, 'id': uid, 'position': end_pos }));
        }
    });

{% if reload_content %}
    ipe_reload(ipe_hash);
{% endif %}

});
</script>

{% endblock modal_body %}
