{% extends parent_bundle_name ~ '::modal_layout.html.twig' %}

{% set form_id_selector = 'ipe-form' %}
{% set ipe_uid = form.vars.value.id %}


{% block modal_header_label %}{{ 'edit.modal_title' |ipe_trans }}{% endblock modal_header_label %}

{% block modal_body %}
{{ include(parent_bundle_name ~ ':IPE:_flashCollection.html.twig') }}

{{ include(params.form_render_template) }}

{% if reload_content %}
    {{ include(params['reload_template']) }}
{% endif %}

{% endblock modal_body %}


{% block modal_footer %}
{% if ipe_uid is not empty %}
        <button type="button" class="btn btn-small btn-danger pull-left"  data-hah-action="load" data-hah-confirm-message="{{ 'shared.delete_confirmation'  |ipe_trans }}" data-hah-block-id-selector="#hah-modal" data-hah-block-message="{{ 'controller.ajax_loading'|ipe_trans  }}" data-hah-id-selector="#hah-modal" data-hah-url="{{ path('_ipe_action', {'action': 'collection-remove-item', 'ipe_hash':  data_ipe_hash , 'id': ipe_uid, 'action_on_success': 'list'}) }}">{{ 'edit.button_delete'|ipe_trans  }}</button>
{% endif %}
        <button type="button" class="btn btn-small pull-left"             data-hah-action="form-reset"  data-hah-form-id-selector="#{{ form_id_selector }}">{{ 'edit.button_reset'|ipe_trans  }}</button>
        {% if is_collection %}
        <button type="button" class="btn btn-small btn-success"    data-hah-action="load" data-hah-block-id-selector="#hah-modal" data-hah-block-message="{{ 'controller.ajax_loading'|ipe_trans  }}" data-hah-id-selector="#hah-modal" data-hah-url="{{ path('_ipe_action', {'action': 'collection-list', 'ipe_hash': data_ipe_hash}) }}">{{ 'edit.button_list'|ipe_trans  }}</button>
        {% endif %}
        <button type="button" class="btn btn-small btn-info"    data-hah-action="form-submit" data-hah-form-id-selector="#{{ form_id_selector }}" data-hah-block-id-selector="#hah-modal" data-hah-block-message="{{ 'controller.ajax_loading'|ipe_trans  }}" data-hah-id-selector="#hah-modal" data-hah-url="{{ path('_ipe_action', {'action': 'collection-edit-item', 'ipe_hash': data_ipe_hash, 'id': ipe_uid}) }}">{{ 'edit.button_save'|ipe_trans  }}</button>
        {% if is_collection %}
        <button type="button" class="btn btn-small btn-success"    data-hah-action="form-submit" data-hah-form-id-selector="#{{ form_id_selector }}" data-hah-block-id-selector="#hah-modal" data-hah-block-message="{{ 'controller.ajax_loading'|ipe_trans  }}" data-hah-id-selector="#hah-modal" data-hah-url="{{ path('_ipe_action', {'action': 'collection-edit-item', 'ipe_hash': data_ipe_hash, 'id': ipe_uid, 'action_on_success': 'list'}) }}">{{ 'edit.button_save_and_list'|ipe_trans  }}</button>
        {% endif %}
        <button type="button" class="btn btn-small btn-primary"    data-hah-action="form-submit" data-hah-form-id-selector="#{{ form_id_selector }}" data-hah-block-id-selector="#hah-modal" data-hah-block-message="{{ 'controller.ajax_loading'|ipe_trans  }}" data-hah-id-selector="#hah-modal" data-hah-url="{{ path('_ipe_action', {'action': 'collection-edit-item', 'ipe_hash': data_ipe_hash, 'id': ipe_uid, 'action_on_success': 'close'}) }}">{{ 'edit.button_save_and_close'|ipe_trans  }}</button>
{% endblock modal_footer %}
