<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container">

            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <!-- Be sure to leave the brand out there if you want it shown -->
            {% block navbar_brand %}
            <a class="brand" href="http://github.com/muchomasfacil/InPageEditBundle" target="_blank">InPageEditBundle</a>
            {% endblock %}

            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse collapse">
                {% block nav_collapse %}
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >title & meta tags</i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a id="title_tag_edit_link" href="#">{{ 'navbar.edit_page_title'|ipe_trans }}</a></li>
                            <li><a id="meta_tags_edit_link" href="#">{{ 'navbar.edit_page_metas'|ipe_trans }}</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><i class="icon-plus"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Add Content (Pending)</a></li>
                            <li><a href="#">Add Foo (Pending)</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" title="{{ app.user ? app.user.username : 'anonymous'|ipe_trans }}" data-toggle="dropdown" >{{ ipe_locale|upper }}</i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for key, lang in available_langs %}
                            <li><a href="{{ path('_ipe_change_ipe_locale' ,{'locale': key}) }}" data-hah-action="load" data-hah-id-selector="#ipe-navbar" data-hah-block-message="{{ 'controller.ajax_loading'|ipe_trans }}">{{ lang.label }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><i class="icon-cog"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!--<li class="divider"></li>-->
                            <li><a href="{{ path('_ipe_logout') }}">{{ 'navbar.logout'|ipe_trans }}</a></li>
                        </ul>
                    </li>
                </ul>
                {% endblock nav_collapse %}
            </div>

        </div>
    </div>
</div>

{# this one is to allow title tag editing #}
{{ ipe_title_tag_od(root_request, (add_query_params is defined)? add_query_params: false, {'container_html_attributes': 'id="title_tag_container" style="display: none"'}, true) }}
{{ ipe_meta_tags_od(root_request, (add_query_params is defined)? add_query_params: false, {'container_html_attributes': 'id="meta_tags_container" style="display: none"'}, true) }}
