<div id="ipe_navbar">
    {{ render(controller('MuchoMasFacilInPageEditBundle:ORM\\Doctrine\\InPageEdit:_navbar')) }}
</div>
    
    {{ render(controller('MuchoMasFacilInPageEditBundle:ORM\\Doctrine\\InPageEdit:render', {         
                'find_by': {'id': 1}
                , 'entity_class_or_definition': 'MuchoMasFacil\\InPageEditBundle\\Entity\\Foo'
                , 'render_template': 'MuchoMasFacilInPageEditBundle:InPageEdit/Foo:default.html.twig'                      
                , 'create_if_not_found': true   
                , 'params': {
                    'ipe_controller': 'MuchoMasFacil\\InPageEditBundle\\Controller\\ORM\\Doctrine'                
                    , 'is_collection': false
                    , 'max_collection_length': null
                    , 'number_of_entities_to_fake_if_collection': 3
                    , 'faker_locale': 'es_ES'                
                    , 'editor_roles': [ROLE_IPE_EDITOR]
                }
            } 
        )) 
    }}

    {{ render(controller('MuchoMasFacilInPageEditBundle:ORM\\Doctrine\\InPageEdit:render', {                 
                'find_by': {'ipe_handler': 'primer_titular'}
                , 'entity_class_or_definition': 'MuchoMasFacil\\InPageEditBundle\\Entity\\Content'                
                , 'render_template': 'MuchoMasFacilInPageEditBundle:InPageEdit/Content:default.html.twig'
                , 'create_if_not_found': true                
                , 'params': {
                    'ipe_controller': 'MuchoMasFacil\\InPageEditBundle\\Controller\\ORM\\Doctrine'                                
                    , 'is_collection': true
                    , 'max_collection_length': 5
                    , 'number_of_entities_to_fake_if_collection': 3
                    , 'faker_locale': null
                    , 'editor_roles': [ROLE_IPE_EDITOR]
                }
            } 
        ))
    }}
 

<link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
<link href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/jquery-ui.css" rel="stylesheet">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript" src="https://raw.github.com/malsup/blockui/master/jquery.blockUI.js"></script>
<script type="text/javascript" src="https://raw.github.com/malsup/form/master/jquery.form.js"></script>
<script type="text/javascript" src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-dropdown.js"></script>

<script>
var ipe_target = 'ipe_ui_dialog';

function ipe_reload(ipe_hash)
{
    var selector = "[data-ipe-hash='" + ipe_hash + "']";
    ipe_load(selector, Routing.generate('_ipe_doctrine_render', {'ipe_hash': ipe_hash}));
}

function ipe_close_dialog(target)
{    
    $('#' + target).dialog('close');
}

function ipe_load_in_dialog(target, url, params)
{    
    if (!$('#' + target).length) {                        
        $('body').append('<div style="display:none" id="' + target + '"></div>');
    }    
    ipe_load('#' + target, url, params);
    ipe_open_dialog_if_close('#' + target);              
}

function ipe_open_dialog_if_close(selector)
{
    $(selector).dialog({
        //autoOpen: false,
        width: Math.min(800,$(window).width()*90/100),
        height: Math.min(600,$(window).height()*90/100),
        modal: true, //if not it would be possible to be input files with same id (entity_name_field)
        //position: { at: "left center"},
        close: function() {
            $(selector).html('');
        }
    });
    
    if (!$(selector).dialog('isOpen')) {
        $(selector).dialog('open');
    }    
}



function ipe_block(selector)
{
    $(selector).block({ 
                message: '<img src="{{ asset('bundles/muchomasfacilinpageedit/images/ajax_loader.gif') }}">', ////////////////////
                css: { border: '0px', background: 'transparent' } 
            }); 
}

function ipe_unblock(selector)
{
    $(selector).unblock(); 
}

function ipe_load(selector, url, params)
{
    ipe_block(selector);
    $(selector).load(url, params, function(response, status, xhr) {
      ipe_unblock(selector);
      if (status == "error") {
        var msg = "{{ 'ajax_error'|trans({}, 'mmf_ipe') }}: "; ///////////////////////////        
        $(selector).html(msg + xhr.status+ " " + xhr.statusText);
      }
    });    
}

function ipe_form_submit(form_selector, target, route, params ) 
{                
    //using malsup jquery form plugin
    // prepare Options Object   
    var options = { 
        target:   '#' + target
        ,url:     Routing.generate(route, params)
        ,beforeSubmit: function(formData, jqForm, options) {                
            //ipe_block('#' + target);                
            ipe_block(form_selector);                            
            // here we could return false to prevent the form from being submitted; 
            // returning anything other than false will allow the form submit to continue 
            return true;
        }
        ,success: function (responseText, statusText, xhr, $form) {
            //ipe_unblock('#' + target);
            ipe_unblock(form_selector);
            if (statusText == "error") {
                var msg = "{{ 'ajax_error'|trans({}, 'mmf_ipe') }}: ";
                $('#' + target).html(msg + xhr.status+ " " + xhr.statusText);
            }
        }
    }; 
    $(form_selector).ajaxSubmit(options); 
    $(form_selector).submit(options); 
    
}

$(function() {    
    $( "[data-ipe-hash]" ).dblclick(function() {    
        ipe_load_in_dialog (ipe_target, Routing.generate('ipe_doctrine_edit_index', {'ipe_hash': $(this).attr('data-ipe-hash')}));        
    });

});

</script>
