{{ include(bundle_name ~ ':InPageEdit:_flashCollection.html.twig') }}

<form class="well" method="post" id="ipe_form">
    {{ form_widget(form) }}
        <button type="button" class="btn btn-danger"  data-ipe-action="delete">{{ 'edit.button_delete'|trans({}, 'mmf_ipe') }}</button>
        <button type="reset"  class="btn">{{ 'edit.button_reset'|trans({}, 'mmf_ipe') }}</button>
    {% if params.is_collection %}        
        <button type="button" class="btn btn-success" data-ipe-action="list">{{ 'edit.button_list'|trans({}, 'mmf_ipe') }}</button>
        <button type="button" class="btn btn-info"    data-ipe-action="save">{{ 'edit.button_save'|trans({}, 'mmf_ipe') }}</button> 
        <button type="button" class="btn btn-success" data-ipe-action="save_and_list">{{ 'edit.button_save_and_list'|trans({}, 'mmf_ipe') }}</button>
        <button type="button" class="btn btn-primary" data-ipe-action="save_and_close">{{ 'edit.button_save_and_close'|trans({}, 'mmf_ipe') }}</button>       
    {% else %}        
        <button type="button" class="btn btn-info"    data-ipe-action="save">{{ 'edit.button_save'|trans({}, 'mmf_ipe') }}</button>
        <button type="button" class="btn btn-primary" data-ipe-action="save_and_close">{{ 'edit.button_save_and_close'|trans({}, 'mmf_ipe') }}</button>    
    {% endif %}
</form>

<script>


$(function() {
    var ipe_uid = '{{ entity.id }}';        
    var ipe_form = 'ipe_form';

    $( "[data-ipe-action]" ).click(function() {   
        switch($(this).attr('data-ipe-action'))
        {
            case 'delete':
                if (confirm('{{ 'delete_confirmation'  |trans({}, 'mmf_ipe')}}')) {
                    ipe_load_in_dialog (ipe_target, Routing.generate('ipe_doctrine_collection_delete_item', {'ipe_hash': '{{ data_ipe_hash }}', 'id': ipe_uid}));  
                }
                break;
            case 'list':                
                ipe_load_in_dialog (ipe_target, Routing.generate('ipe_doctrine_collection_list', {'ipe_hash': '{{ data_ipe_hash }}'}));  
                break;
            case 'save':
                ipe_form_submit('#' + ipe_form, ipe_target, 'ipe_doctrine_edit', {'ipe_hash': '{{ data_ipe_hash }}', 'action_on_success': 'none', 'id': ipe_uid });
                break;
            case 'save_and_list':
                ipe_form_submit('#' + ipe_form, ipe_target, 'ipe_doctrine_edit', {'ipe_hash': '{{ data_ipe_hash }}', 'action_on_success': 'list', 'id': ipe_uid });
                break;
            case 'save_and_close':
                ipe_form_submit('#' + ipe_form, ipe_target, 'ipe_doctrine_edit', {'ipe_hash': '{{ data_ipe_hash }}', 'action_on_success': 'close', 'id': ipe_uid });
                break;
            default:         
        } 
    });

{% if reload_content %}    
    ipe_reload('{{ data_ipe_hash }}');
{% endif %}


}); 
</script>