{% for entry in content.content %}
{% spaceless %}

{% if entry.link %}
    <a href="{{ entry.link }}">
{% endif %}
    <img src="{{ entry.img_url }}" alt="{{ entry.label }}" title="{{ entry.label }}" />
    {{ entry.content }}
{% if entry.link %}
    </a>
{% endif %}

{% endspaceless %}
{% endfor %}

