    <replaceContent select="#{{ dialog_id }}"><![CDATA[

{% include bundle_name ~ ':EntityAdmin:Includes/flash.html.twig' %}
<form id="{{ form_id }}" class="mmf-ie-form" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
</form>

    ]]>
    </replaceContent>

    <eval><![CDATA[

//delete possible ckeditor instances
//if (typeof(CKEDITOR) == 'object'){
//  for ( x in CKEDITOR.instances){
//   alert(x);
//   delete CKEDITOR.instances[x];
//  }
//}

//ckeditor fields
$('#{{form_id}} textarea[data-mmf-ie-ckeditor]').each(function(){
    //alert($(this).attr('data-mmf-ie-ckeditor'))
    //alert($(this).attr('id'))
    delete CKEDITOR.instances[$(this).attr('id')];
    customConfig = '{{ path( 'mmf_ie_ckeditor_config' ) }}/' + $(this).attr('data-mmf-ie-ckeditor') + '/{{ form_name }}/{{ uids_as_string }}/' + $(this).attr('id');
    $(this).ckeditor(function() {}, { customConfig : customConfig });
    //alert(customConfig);
});


//file manager fields
$('#{{form_id}} input[data-mmf-fm]').each(function(){
    $(this).after('<span>{{ 'Double click on input to enter file manager' | trans({}, (bundle_name | lower)) }}</span>');
    $(this).dblclick(function () {
        var windowHeight = window.screen.height *70/100;
        var windowWidth = window.screen.width *80/100;
        var windowName = '{{ 'File manager' | trans({}, (bundle_name | lower)) }}'
        var windowUri = '{{ path( 'mmf_ie_mmf_fm_bridge' ) }}/' + $(this).attr('data-mmf-fm') + '/{{ form_name }}/{{ uids_as_string }}/' + $(this).attr('id');
        var centerWidth = (window.screen.width - windowWidth) / 2;
        var centerHeight = (window.screen.height - windowHeight) / 2;
        newWindow = window.open(windowUri, windowName, 'resizable=0,width=' + windowWidth +
            ',height=' + windowHeight +
            ',left=' + centerWidth +
            ',top=' + centerHeight);
        newWindow.focus();
        });
    });

    ]]>
    </eval>

