    <eval><![CDATA[

if( typeof( ${{ dialog_id }} ) == 'undefined' )
{
    var ${{ dialog_id }} = $('<div id="{{ dialog_id }}"></div>')
        .dialog({
            autoOpen: false,
            width: Math.min(800,$(window).width()*90/100),
            height: Math.min(600,$(window).height()*90/100),
            modal: true, //if not it would be possible to be input files with same id (entity_name_field)
            close: function() {
                ${{ dialog_id }}.html('');
            }
        });
}

if (!${{ dialog_id }}.dialog('isOpen'))
{
    ${{ dialog_id }}.dialog('open');
}


    ]]>
    </eval>
